# FIREBASE
NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_AUTH_DOMAIN=
NEXT_PUBLIC_PROJECT_ID=

# FIREBASE DATABASE
NEXT_PUBLIC_DATABASE_URL=

# FIREBASE APP_ID
NEXT_PUBLIC_APP_ID=

# FIREBASE Analytics
NEXT_PUBLIC_MEASUREMENT_ID=

# ADS
NEXT_PUBLIC_CA_PUB=
